@model MallOfElectronics.Models.DataBase.Person

@{
    ViewBag.Title = "Editing User";
}

<h1 class="blue-color-text">Editing User</h1>
<h2 style="color:green"> @ViewBag.message</h2>
<h2 style="color:red"> @ViewBag.ErrorMessage</h2>

@using (Html.BeginForm()) {
    @*@Html.AntiForgeryToken()*@
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Person</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">
            @Html.UploadFor(model => model.Image)
            @Html.ValidationMessageFor(model => model.Image)
        </div>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.RegisteryDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegisteryDate)
            @Html.ValidationMessageFor(model => model.RegisteryDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdOfTheCategoryOfPersons)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdOfTheCategoryOfPersons)
            @Html.ValidationMessageFor(model => model.IdOfTheCategoryOfPersons)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sex)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sex)
            @Html.ValidationMessageFor(model => model.Sex)
        </div>


        <p>
            <input type="submit" value="Save" style="color: white; background-color: #186fb1; font-size: 20px; width: 150px; height: 50px;" />
            <b>@Html.ActionLink("Back to List", "ListOfUsers", "Person", new { style = "font-size:20px;" })</b>
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
