@model IEnumerable<MallOfElectronics.Models.DataBase.Person>

@{
    ViewBag.Title = "List Of Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2 class="blue-color-text">List Of Users</h2>

@*<p>
    <b>@Html.ActionLink("Create New", "Create")</b>
</p>*@

<table width="950" class="list-of-products-tabel">
    <tr class="list-of-products-tabel-first-row">
        <th width="100">
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th width="150">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th width="150">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th width="100">
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th width="150">
            @Html.DisplayNameFor(model => model.RegisteryDate)
        </th>
        <th width="250">
            @Html.DisplayNameFor(model => model.IdOfTheCategoryOfPersons)
        </th>
        <th width="150">
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="list-of-products-tabel-instance">
            <td>
                <img src="~/@item.Image" width="70" height="60" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOfTheCategoryOfPersons)
            </td>
            <td>
                @{
                    if( item.Sex == true )
                    {
                         <p> Male </p>
                    }
                    else
                    {
                        <p> Female</p>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "EditingUser", "Person", new { id = item.Id }, null)
                @*@Html.ActionLink("Details", "Details", "Person", new { id = item.Id }, null)*@ 
                @Html.ActionLink("Delete", "DeletingUser", "Person", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
